/* Large 1200px */
@media screen and (max-width: 1200px) {

}

/* Laptops 992px */
@media screen and (max-width: 992px) {
     /* Competences */
     .competences-container {
          flex-wrap: wrap;
     }
     .img-competences img {
          width: 200px;
     }
     /* Timeline */
     .box {
          width: 200px;
     }
}

/* Tablets 768px */
@media screen and (max-width: 768px) {
     
}

/* Phones 600px */
@media screen and (max-width: 600px) {
     /* navigation */
     .nav-content {
          width: 90%;
          padding: 0;
     }
     .nav-liens {display: none;}
     .ico-responsive {
          display: block;
          font-size: 40px;
     }
}